[Unit]
Description=gdm container
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/usr/bin/podman start gdm_pod-gdm
ExecStop=/usr/bin/podman stop -t 10 gdm_pod-gdm
ExecStopPost=/usr/bin/podman stop -t 10 gdm_pod-gdm
PIDFile=/run/gdm/gdm.pid
KillMode=mixed
Restart=always
IgnoreSIGPIPE=no
BusName=org.gnome.DisplayManager
ExecReload=/bin/kill -SIGHUP $MAINPID
KeyringMode=shared

[Install]
WantedBy=multi-user.target default.target
